EXPO_PUBLIC_API_KEY=tk_mobile_app_api_key_12345678901234567890123456789012345
EXPO_PUBLIC_API_URL=http://192.168.1.13:4000
EXPO_PUBLIC_PAYMENT_CATEGORY_PRODUCT_ID=01K652ZX9VA8XDFBQXG8C99W58,01K652ZX9VHA8S8EG71Q68T4WX,01K6530DZHJSVJDY5M381X8DXQ
NODE_ENV=production
EXPO_PUBLIC_SECRET_AI_KEY=d08e9274a3f330c6d8219d5a0378f4ab5ab78f1b0408e319d49a5dae301570e569e71a9acb7e0d150211cafe1668449aa7ac982ac03dfd8149275fbab7a5f9d6
EXPO_PUBLIC_AI_API_URL=http://192.168.1.13:3000

# Pulsa & Data Provider Product IDs
EXPO_PUBLIC_PROVIDER_XL=01KA12YV04FK46V226Y7HSJNA0
EXPO_PUBLIC_PROVIDER_TELKOMSEL=01KA12YCKCD5EJDXMDQW41WD0D
EXPO_PUBLIC_PROVIDER_INDOSAT=01KA12YBXW95MNGZEBKH4952WC
EXPO_PUBLIC_PROVIDER_SMARTFREN=01KA12YHWDSGBYQG4R9QZNKGG2
EXPO_PUBLIC_PROVIDER_AXIS=01KA12XCJEPHY35JPGTKSDHH8R
EXPO_PUBLIC_PROVIDER_TRI=01KA12YNSV9PMDMW3H8F2Q6N6Y
EXPO_PUBLIC_PROVIDER_BYU=01KA12XDP4DDBY3TKEWBFFD0NK

# Google OAuth
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your-ios-client-id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your-web-client-id.apps.googleusercontent.com